html{
    font-family: 'Pretendard',sans-serif;
    font-size: 20px;
    font-weight: 400;
}


header{
    border: 1px solid red;
    background-color: #fff;
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

header .inner-frame{
    display: flex;
    justify-content: space-between;
}

.inner-frame{
    border: 1px solid green;
    background-color: #fff;
    width: 1600px;
    margin: 0 auto;
    max-height: 100px;
    overflow: hidden;
    transform: all 0.6s ease 0s;
}

.inner-frame:hover{
    max-height: 217px;
}

.gnb{
    /* border: 1px solid blue; */
    display: flex;
    gap: 66px;
}

.gnb>li{
    /* border: 1px solid purple; */
}

.gnb>li:hover{
    max-height: 217px;
}

.gnb>li>a{
    /* border: 1px solid orange; */
    display: flex;
    height: 100px;
    justify-content: flex-start;
    align-items: center;

    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
}

.gnb ul{
    /* border: 1px solid cyan; */
    height: 97px;
    margin-top: 1rem;
}

.gnb li ul>li{
    /* border: 1px solid navy; */
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 1rem;
}



.banner{
    background: url(../img/banner.jpg) no-repeat 50% 50%;
    height: 800px;
}

.banner h2{

}