*{margin: 0; padding: 0;}

.tab-menu{
    width: 800px;
    margin: 50px auto;
}

.tabs{
    display: flex;
    gap: 1rem;
}

.tabs span{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
    font-size: .8rem;
    padding: 1.2rem 2rem;
    cursor: pointer;
    border-radius: 50px;
}

.tabs span:hover{
    background: #000;
    color: #fff;
}

.tabs span.active{
    background-color: #000;
    color: #fff;
}

.tab-descriptions{
    margin-top: 2rem;
}

.tab-descriptions section{
    display: none;
}

.tab-descriptions section.active{
    display: block;
}