html{
    font-family: 'Pretendard',sans-serif;
    font-size: 20px;
    font-weight: 600;
}

header{  
    border-bottom: 2px solid #BE0707;
}

.common-frame{
    width: 1600px;
    margin: 0 auto;
}

header .common-frame{  /* 따로 분리해서 만들어주면 좋음 */
    display: flex;
    justify-content: space-between;
}

.gnb{
    display: flex;
}

.gnb li{ 
    /* 줄 거 없음 */
}

.gnb a{
    height: 100%;
    /* height: 100%;만 주면 안 늘어남 / a태그가 인라인스타일이라서 안 됨*/
    display: flex;
    /* a태그의 자식태그는 텍스트임. 그래서 텍스트 박스의 크기가 커져야 하기에 부모태그인 a태그한테 flex를 하는 것 */
    align-items: center;
    padding: 0 1rem;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.banner{
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    color: #fff;
    font-size: 7.5rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}