/* h1{color: red!important;} */
body div h1#b {
    color: #FFC107;
    font-size: 30px;
    background-color: green;
}
div h1#b{color: blue;}
h1#b{color: red;}
#b{color: blue;}
h1.a{color: blue;}
.a{color: red;}
h1{color: red;}
h1{color: blue;color: orange;}