*{margin: 0; padding: 0;}

ul{
    list-style: none;
}


a{
    color: inherit;
    text-decoration: inherit;
    
}

header{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    overflow: hidden;
    background-color: pink;
    transition: all 0.6s ease 0s;
}

header:hover{
    max-height: 400px;
    /* 평소에는 제한되어 있다가 마우스를 올리면 80에서 400으로 풀겠다는 것 */
}

.logo{
    border: 1px solid blue;
}

.gnb{
    border: 1px solid blue;
    display: flex;
}

.gnb>li{
    border: 1px solid green;
}

.gnb>li>a{ /* gnb 자식 태그인 li태그의 자식태그 a */
    background-color: antiquewhite;
    display: block;
    height: 80px;
    justify-content: center;
    align-items: center;
}