*{margin: 0; padding: 0;}

.a{background-color: blue;}
.b{background-color: red;}
.c{background-color: pink;}
.d{background-color: green;}
.e{background-color: gold;}

.box{background-color: lightgray;}


.box2{
    width: 800px;
    height: 100px;
    display: flex;
}

.box2 div{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    padding-left: 20px;
}