html{
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    font-weight: 400;
}


header{
    border-bottom: 2px solid #BE0707;
    position: fixed;
    width: 1920px;
}

.common-frame{
    border: 1px solid blue;
    width: 1600px;
    margin: 0 auto;
}

header .common-frame{
    display: flex;
    justify-content: space-between;
}

.nav{
    border: 1px solid greenyellow;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.lnb{
    border: 1px solid brown;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: 30px;
}

.lnb a{
    display: flex;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.gnb{
    height: 70px;
    border: 1px solid purple;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gnb a{
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 0 1rem;
}


.hero-banner{
    background: url(../img/hero-banner.jpg) no-repeat 50% 50% / cover;
    height: 963px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    border: 1px solid coral;
    color: #fff;
    font-size: 7rem;
    line-height: 90%;
    text-transform: uppercase;
}

h2{
    border: 1px solid red;
    margin-top: 6rem;
    font-size: 3rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

p{
    font-size: 1rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.banner{
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    height: 441px;
    margin-bottom: 155px;
}

.a{
    width: 1600px;
    margin: 0 auto;
}